* {
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  background-color: white;
  color: black;
}

.container {
  background-color: #e5e5e5;
  height: 100vh;
  margin: 15px 25px;
  padding: 5px 0px;
}

header h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
}

header h2 {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  font-weight: normal;
  padding-bottom: 15px;
}

nav {
  display: flex;
  justify-content: center;
}

button {
  font-size: 27px;
  margin: 0px 25px 20px 25px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: rgb(111,181,54);
  color: white;
}

button:hover {
  color: rgb(111,181,54);
  background-color: white;
}

ul {
  display: inline;
  text-align: center;
  list-style: none;
}