* {
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  background-color: white;
  color: black;
}

/* .container {
  background-color: #e5e5e5;
  height: 100vh;
  margin: 15px 25px;
  padding: 5px 0px;
} */

form {
  display: inline-block;
  text-align: center;
}

legend, label, input {
  display: block;
  /* text-align: center; */
}

legend {
  font-size: 30px;
}

input {
  width: 250px;
  height: 30px;
  background-color: #e5e5e5;
  color: #939393;
  margin: 20px;
  border-radius: 5px;
  border: transparent;
  padding-left: 5px;
}

button {
  font-size: 27px;
  margin: 0px 25px 20px 25px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: rgb(111,181,54);
  color: white;
}