body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  background-color: white;
  color: black;
}

h1, h2 {
  clear: none !important;
}

#add-new-bill {
  float: right !important;
}

.bills {
  /* clear: both; */
}

.underline {
  text-decoration: underline;
}